@import "./base.css";

body {
	color: #303841;
	font-family: Rubik, sans-serif;
	margin: 0
}

.main-content {
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	flex-wrap: wrap;
	padding: 0 20px;
	max-width: 760px;
	margin: 0 auto
}

.main-content:before {
	content: "";
	display: block;
	position: fixed;
	width: 300%;
	height: 100%;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	transform: translateX(-50%) skewY(-8deg);
	background-color: #a2c212;
	z-index: -1;
	-webkit-animation: wave 8s ease-in-out infinite alternate;
	animation: wave 8s ease-in-out infinite alternate
}

@-webkit-keyframes wave {
	0% {
		transform: translateX(-50%) skew(0deg, -8deg)
	}

	to {
		transform: translateX(-30%) skew(8deg, -4deg)
	}
}

@keyframes wave {
	0% {
		transform: translateX(-50%) skew(0deg, -8deg)
	}

	to {
		transform: translateX(-30%) skew(8deg, -4deg)
	}
}




.nameapp {
  font-size: 25px;
  font-weight: 700;
}

.travel {
  font-size: 25px;
  font-weight: 700;
  color: rgb(7, 139, 16);
  text-align: center;
  margin-top: 40px !important;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.modal {
  display: block;
  background: rgba(134, 155, 130, 0.5);
}

.modal-dialog {
  min-width: 60%;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body img {
  width: 100%;
  height: 300px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
    color: hsla(160, 54%, 85%, 0.2);
  }
}

@media (max-width: 576px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */

  }


}

.modal-content {
  height: 90vh;
}

/* .modal-footer,
.modal-header{
  height: 10%;
} */
.modal-text {
  width: 100%;
  height: 80%;
  z-index: 999;
  overflow-y: auto;
}



.modal-title {
  color: green;
  font-weight: 700;
}

.col-md-10 {
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.btn-w {
  width: 250px !important;
  text-align: center;
}

.text {
  font-size: 18px !important;
  font-weight: 600 !important;
}

body {
  min-height: 0 !important;
}



.title{
  font-size: 20px;
  font-weight: 500;
}