@import "./base.css";

.nameapp {
  font-size: 25px;
  font-weight: 700;
}

.travel {
  font-size: 25px;
  font-weight: 700;
  color: rgb(7, 139, 16);
  text-align: center;
  margin-top: 40px !important;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.modal {
  display: block;
  background: rgba(134, 155, 130, 0.5);
}

.modal-dialog {
  min-width: 60%;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body img {
  width: 100%;
  height: 300px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
    color: hsla(160, 54%, 85%, 0.2);
  }
}

@media (max-width: 576px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */

  }


}

.modal-content {
  height: 90vh;
}

/* .modal-footer,
.modal-header{
  height: 10%;
} */
.modal-text {
  width: 100%;
  height: 80%;
  z-index: 999;
  overflow-y: auto;
}



.modal-title {
  color: green;
  font-weight: 700;
}

.col-md-10 {
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.btn-w {
  width: 250px !important;
  text-align: center;
}

.text {
  font-size: 18px !important;
  font-weight: 600 !important;
}

body {
  min-height: 0 !important;
}



.title{
  font-size: 20px;
  font-weight: 500;
}